<% if !@message[:msg].blank? %>
<%= render 'canvas'%>
  <% #field for json data %>
  <div id="json" class="value hide"><%= @message[:msg] %></div>
  <% #field for title %>
  <strong>Title:</strong>
  <%= @message[:title] %>


  <script>
  $(document).ready(function(){
    initCanvas();
    lockAllElements();
  });

  </script>
<% else %>
Sorry message is blank..
<% end %>
